{% extends "base.html" %}

{% block content %}
<div class="container container-fluid mt-5">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Protocolo</th>
                <th scope="col">Status</th>
                <th scope="col">Data de Cadastro</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for protocol in user['protocols'] %}
                    
                    <tr>
                        <th scope="row">{{ loop.index0 }}</th>
                        <td>{{ protocol['id'] }}</td>
                        <td>
                        {% if protocol['status_ok'] %}
                            <span class="badge rounded-pill text-bg-success">Deferido</span>
                        {% else %}
                            <span class="badge rounded-pill text-bg-warning">Aguardando</span>
                        {% endif %}
                        </td>
                        <td>{{ protocol['created_at'] }}</td>
                        <td>
                            <a type="button" class="btn btn-danger btn-sm rounded-pill" href="/delete/protocol/{{protocol['id']}}">Deletar</a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- <hr> -->
    <form method="post" action="/protocol" class="mt-5">
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="protocolo" required name="protocol">
                <label for="floatingInput">Protocolo do INPI</label>
                <div id="floatingInput" class="form-text">
                    Informe o número de protocolo do INPI ao qual deseja ser notificado via email.
                </div>
              </div>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Cadastrar Protocolo</button>
        </div>
    </form>
</div>
<!-- Modals -->
<div class="modal fade" id="register" tabindex="-1" aria-labelledby="LoginnLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LoginnLabel">Cadastrar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="register-form" action="/register" method="post" class="">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required name="email">
                        <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="email2" class="form-label">Confirmar Email</label>
                        <input type="email" class="form-control" id="email2" aria-describedby="emailHelp" required
                            onblur="validate_email()">
                        <div id="emailHelp" class="form-text"></div>
                        <div class="invalid-feedback" id="email-invalid-feedback">
                            Confirmação inválida!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password" required name="password">
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirmar Senha</label>
                        <input type="password" class="form-control" id="password2" required
                            onblur="validate_password()">
                        <div class="invalid-feedback" id="password-invalid-feedback">
                            Confirmação inválida!
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <input id="checkbox_terms" type="checkbox" class="form-check-input" required>
                        <label class="form-check-label" for="terms">Eu concordo com as <a target="_blank"
                                href="/terms">políticas e termos de uso.</a></label>
                    </div>
                    <button type="button" onclick="submit_register()" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="login" tabindex="-1" aria-labelledby="LoginnLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LoginnLabel">Cadastrar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Acessar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function validate_email() {
        let email = document.getElementById("email");
        let email2 = document.getElementById("email2");
        if (email.value == email2.value && email.value != "") {
            email2.classList.add("is-valid");
            email2.classList.remove("is-invalid");
            return true;
        } else {
            email2.classList.add("is-invalid");
            email2.classList.remove("is-valid");
            return false;
        }
    }

    function validate_password() {
        let password = document.getElementById("password");
        let password2 = document.getElementById("password2");
        if (password.value == password2.value && password.value != "") {
            password2.classList.add("is-valid");
            password2.classList.remove("is-invalid");
            return true;
        } else {
            password2.classList.add("is-invalid");
            password2.classList.remove("is-valid");
            return false;
        }
    }

    function submit_register() {
        let register_form = document.getElementById("register-form");
        let checkbox_terms = document.getElementById("checkbox_terms");
        if (validate_email() && validate_password() && checkbox_terms.checked) {
            register_form.submit();
        }
    }
</script>

{% endblock %}